{% extends '::base.html.twig' %}

{% block body %}

{% include 'MainBundle::header.html.twig' %}

{% for comment in result %}
{{ comment.author }} || {{ comment.text }} || Id komentarza {{ comment.id }}<br>
    <a class="btn btn-primary" href="{{ path('main_default_admincommentsok', {id:comment.id}) }}">Komentarz ok</a> ||
    <a class="btn btn-primary" href="{{ path('main_default_admincommentsdelete', {id:comment.id}) }}">Usuń komentarz</a> ||
    <a class="btn btn-primary" href="{{ path('main_default_admincommentdeleteandban', {id:comment.id}) }}">Usuń komentarz i zbanuj użytkownika</a> ||

    <hr>
{% endfor %}

<a class="btn btn-primary" href="{{ path('main_default_adminpanel') }}">Powrót</a>
{% endblock %}