

<center><h1 style="font-family: 'Monofett', cursive; font-size:80px">WEBFLIX</h1><hr>


    <a class="btn btn-primary" href="{{ path('main_default_userpage') }}">Strona Główna</a> ||
    <a class="btn btn-primary" href="{{ path('main_default_allmovies') }}">Wszystkie filmy</a> ||
    <a class="btn btn-primary" href="{{ path('main_default_search') }}">Szukaj</a> ||
    <a class="btn btn-primary" href="{{ path('main_default_searchbygenre') }}">Szukaj po gatunkach</a> ||
    <a class="btn btn-primary" href="{{ path('fos_user_security_logout') }}">Wyloguj się</a> ||
    Jesteś zalogowany jako: {{ app.user.username }}
    {% if is_granted('ROLE_ADMIN') %}
        <a  class="btn btn-danger" href="{{ path('main_default_adminpanel') }}">Panel Administratora</a>

    {% endif %}




</center>
<hr>
