{% extends '::base.html.twig' %}

{% block body %}
    {% include 'MainBundle::header.html.twig' %}

    <h3>Twoje ulubione filmy:</h3><br>
   {% for movie in favourites %}
        <div style = "float:left"><a href="{{ path('main_default_movieshow', {id:movie.id}) }}">
            <img src="https://img.youtube.com/vi/{{ movie.thumbnail }}/mqdefault.jpg"><br>
            <h2>{{ movie.title }}</h2></a><br></div>

    {% endfor %}<div style = "clear:both"></div><hr>

    <h3>Najnowsze filmy</h3>
    {% for newMovie in newMovies %}
        <div style = "float:left"><a href="{{ path('main_default_movieshow', {id:newMovie.id}) }}">
            <img src="https://img.youtube.com/vi/{{ newMovie.thumbnail }}/mqdefault.jpg"><br>
                <h2>{{ newMovie.title }}</h2></a> <br></div>
    {% endfor %}<div style = "clear:both"></div><hr>
{% endblock %}