<html>
<body>

{% include 'MainBundle::header.html.twig' %}

<h1>{{ result.title }}</h1><br>
Ocena: {{ average|number_format(2) }} Ilość ocen: {{ rows }}<br>
Opis:<br>
{{ result.description }}<hr>
    {{ result.path|raw }}<br>

<a href="{{ path('main_default_addrating', {id:result.id}) }}">Oceń film</a>

<h2>Komentarze: </h2><br>

{{ form(form) }}

<a href="{{ path('main_default_addtofavourites', {'id':result.id}) }}">Dodaj do ulubionych</a>





{% for comment in result.comments %}
    <h3>Autor: {{ comment.author }}</h3><br>
{{ comment.text }}<hr>
{% endfor %}

</body>
</html>